@font-face {
    font-family: "Cinzel-Medium";
    src: url(../fonts/static/Cinzel-Medium.ttf);
}

@font-face {
    font-family: "Cinzel-Bold";
    src: url(../fonts/static/Cinzel-Bold.ttf);
}

body {
    font-family: "Cinzel-Medium";
    margin: 0;
    background-color: #0D0F15;
}

header {
    background-color: #0d0f1579;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    padding: 10px 0;
    opacity: 0.80;
    z-index: 2;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    background-color: #0D0F15;
    color: white;
}

h2 {
    color: #D8BD95;
    text-align: center;
}

footer {
    background-color: #080B10;
    border-top: 1px solid rgb(49, 49, 49);
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

header a {
    color: white;
    transition: all 0.3s ease;
}

header a:hover {
    color: #D8BD95;
    border-bottom: 2px solid #D8BD95;
}

footer a {
    color: rgb(139, 139, 139);
    transition: all 0.3s ease;
}

footer a:hover {
    color: #D8BD95;
}

.banner {
    position: relative;
    height: 50dvh;
    width: 100%;
    background: url(../img/banner.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.banner img {
    position: relative;
    z-index: 1;
}

.banner img {
    height: 266px;
}

.main-content {
    margin: 5px 10%;
    text-align: center;
}

.main-content p,
a {
    font-size: 1rem;
}

.main-content h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.main-content h3 {
    margin-top: 0;
}

.main-content .btn {
    display: inline-block;
    background: linear-gradient(#C0A063, #B28D47);
    color: black;
    padding: 5px 15px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 1px 10px #C0A063;
}

.news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 10%;
}

.news-title {
    color: white;
}

.news-card {
    border: 1px solid rgb(41, 41, 41);
    background-color: #12141B;
    border-radius: 5px;
    overflow: hidden;
    width: 31%;
    padding-bottom: 5%;
    position: relative;
    transition: 0.5s;
}

.news-card:hover {
    transform: translateY(-5px);
    border: 1px solid rgb(114, 114, 114);
}

.news-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.news-card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.news-content p {
    color: #9b9b9b;
}

.newsletter {
    background: linear-gradient(#12141B, #0E0F15);
    padding: 20px;
    padding-bottom: 35px;
    text-align: center;
}

.newsletter .btn {
    background: linear-gradient(#C0A063, #B28D47);
    color: black;
    padding: 7px 18px;
    border-radius: 2px;
    border: 0px;
    transition: all 0.3s ease;
}

.newsletter-input {
    background-color: #0D0F15;
    border: 1px solid rgb(49, 49, 49);
    padding: 10px 10px;
    width: 300px;
    transition: all 0.3s ease;
}

.newsletter-input:focus {
    border: 1px solid #B28D47;
    box-shadow: 0px 1px 10px #C0A063;
}


footer img {
    height: 50px;
}

footer div {
    display: flex;
    gap: 35%;
    margin: 6px 5%;
}

.footer-container {
    display: flex;
}

.footer-space::after {
    content: "|";
    color: #8f8f8f;
}

.footer-container a {
    padding: 0 5px;
}